enum title="Simple FlowNode" tag="Type" {
	object "OpenShipyard" "eh:objects/quests/node_open_shipyard" tag=11 hide_fields="Id,DefaultTransition"
	object "OpenWorkshop" "eh:objects/quests/node_open_workshop" tag=12 hide_fields="Id,DefaultTransition"
	object "DestroyOccupants" "eh:objects/quests/node_destroy_occupants" tag=25 hide_fields="Id,DefaultTransition"
	object "SuppressOccupants" "eh:objects/quests/node_suppress_occupants" tag=26 hide_fields="Id,DefaultTransition"
	object "Retreat" "eh:objects/quests/node_retreat" tag=30 hide_fields="Id,DefaultTransition"
	object "ReceiveItem" "eh:objects/quests/node_receive_item" tag=35 hide_fields="Id,DefaultTransition"
	object "RemoveItem" "eh:objects/quests/node_remove_item" tag=36 hide_fields="Id,DefaultTransition"
	object "Trade" "eh:objects/quests/node_trade" tag=37 hide_fields="Id,DefaultTransition"
	object "StartQuest" "eh:objects/quests/node_start_quest" tag=43 hide_fields="Id,DefaultTransition"
	object "SetCharacterRelations" "eh:objects/quests/node_set_character_relations" tag=50 hide_fields="Id,DefaultTransition"
	object "SetFactionRelations" "eh:objects/quests/node_set_faction_relations" tag=51 hide_fields="Id,DefaultTransition"
	object "SetFactionStarbasePower" "eh:objects/quests/node_set_faction_starbase_power" tag=52 hide_fields="Id,DefaultTransition"
	object "ChangeCharacterRelations" "eh:objects/quests/node_change_character_relations" tag=55 hide_fields="Id,DefaultTransition"
	object "ChangeFactionRelations" "eh:objects/quests/node_change_faction_relations" tag=56 hide_fields="Id,DefaultTransition"
	object "ChangeFactionStarbasePower" "eh:objects/quests/node_change_faction_starbase_power" tag=57 hide_fields="Id,DefaultTransition"
	object "CaptureStarBase" "eh:objects/quests/node_capture_star_base" tag=60 hide_fields="Id,DefaultTransition"
	object "LiberateStarBase" "eh:objects/quests/node_liberate_star_base" tag=61 hide_fields="Id,DefaultTransition"
	object "ChangeFaction" "eh:objects/quests/node_change_faction" tag=62 hide_fields="Id,DefaultTransition"
}